<div class="footer">
  <div class="wrap">
    <div class="footer-grid">
      <h3>Liên hệ :</h3>
      <p>SDT : 01236547789</p>
      <p>Địa chỉ :</p>
      <p>Mail :</p>
      <p>web : www.cf81.com.vn</p>
    </div>
    <div class="footer-grid center-grid">
      <div class="social-icons">
        <ul>
          <li>
            <a href="#">
              <img src="../../assets/member/images/facebook.png" title="facebook" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../assets/member/images/twitter.png" title="twitter" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../assets/member/images/google.png" title="google pluse" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
  <div class="clear"> </div>
</div>
<div class="copy-right">
  <div class="top-to-page">
    <a href="#top" class="scroll"> </a>
    <div class="clear"> </div>
  </div>
  <p> © Copyright  &copy; <script>document.write(new Date().getFullYear())</script>, made with 
    <i class="fa fa-heart heart"></i> by
     <a href="https://www.facebook.com/huuloc.pham.79" target="_blank">Hửu Lộc</a> 
     <a href="https://www.facebook.com/TM.TQT" target="_blank">Quang Triêu</a>
    </p>
</div>
