<div class="wrapper">
    <app-admin-menu></app-admin-menu>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Quản lý cà phê </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li (click)="onLogout()" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                <p>&nbsp;Đăng Xuất &nbsp;</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../assets/admin/assets/img/faces/face-0.jpg" class="img_avatar img-responsive" alt="Cinque Terre" />
                                <p>&nbsp;TRIEU &nbsp;</p>
                            </a>
                          
                        </li>
                    </ul>


                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="btn-group" style=" padding-bottom: 15px;padding-left: 20px;">
                        <a href="" type="button" class="btn btn-default">
                            <i class="ti-arrow-left"></i>&nbsp;&nbsp;back
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header" style="float: left;">
                                <h4 class="title">Thông tin cà phê</h4>
                                <p class="category"></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="content">
                                <form [formGroup]="formImage" method="POST" (ngSubmit)="createItem()"  >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Tên cà phê</label>
                                                <input formControlName="formName" [(ngModel)]="item.name"   type="text" class="form-control border-input" name="name" placeholder="Tên cà phê" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="hidden" id="loaiphong" value="" />
                                                <label>Loại cà phê</label>
                                                <select formControlName="formTypesId" [(ngModel)]="item.typesId"  id="loaiCaPhe" name="typeId"  class="form-control border-input">
                                                    <option class="dropdown" selected="selected" [value]= "1"  >Bột</option>
                                                    <option class="dropdown" [value]= "2"  >Hạt</option>
                                                    <option class="dropdown" [value]= "3"  >Rang xay</option>
                                                </select>
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Giá 0.5 kg</label>
                                                <div class="input-group">
                                                    <span style="border: 1px solid #ccc5b9;" class="input-group-addon ">
                                                        <i style="font-size: 15px;" class="ti-money"></i>
                                                    </span>
                                                    <input formControlName="formPrice" [(ngModel)]="item.price"   type="number" class="form-control border-input" name="price" value="" required>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Trạng thái</label>
                                                <input type="text" class="form-control border-input" disabled placeholder="Status" value="Còn hàng">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Mô tả</label>
                                                <textarea formControlName="formDescription" [(ngModel)]="item.description"  rows="7" class="form-control border-input" name="description" placeholder="Here can be your description" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="text-center" style="padding-top:10px; padding-left:10px; padding-bottom: 15px; float:right;">
                                            <a href="#" type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteImage" style=" font-size: 14px;">
                                                <i class="ti-trash"></i>&nbsp;Xóa ảnh</a>
                                        </div>
                                        <div class="text-center" style="padding-top:10px; padding-bottom: 15px; float:right;">
                                            <input type="file"  id="file" name="avatar" (change)="onChangedImage($event)" #fileInput accept=".jpg, .jpeg, .png, .gif" style="margin-left: 5px;">
                                            <span class="file-custom" (click)="fileInput.click()"></span>
                                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="cntr mt20">
                                            <div class="pgwSlider wide">
                                                <div class="ps-current" style="height: 400px;">
                                                    <ul>
                                                        <li class="elt_1" style="display: list-item; opacity: 1; z-index: 2;">
                                                            <img [src]="selectedImg" alt="Card image" style="width:75%;height:100% ;background-position: center;background-repeat: no-repeat; background-size: cover;">
                                                        </li>
                                                    </ul>
                                                    <span class="ps-caption" style="display: block; font-size: 26px;">
                                                        Cà Phê</span>
                                                </div>
                                                <ul class="ps-list" style="display: block;">
                                                    <li class="elt_1" style="cursor: pointer; opacity: 1; width: 25%; height: 25%;">
                                                        <img [src]="selectedImg" alt="Card image" style="background-position: center;background-repeat: no-repeat; background-size: cover;">
                                                        <span>Cà phê </span>
                                                    </li>
        
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-info btn-fill btn-lg"
                                        [disabled]="fileInput.value==''" >
                                        <i class="far fa-check-square" style="margin-right: 5px;" (click)="fileInput.click()"></i>Thêm Cà Phê</button>
                                    </div>
                                    <div class="clearfix"></div>

                                </form>
                                <!-- <form class="form" [formGroup]="formImage" method="POST" (ngSubmit)="onSaveImage()"
                                novalidate>
                                  <div class="row">
                                    <div class="form-group col-md-6 mb-2">
                                      <label>Ảnh đại diện</label>
                                      <label id="projectinput8" class="file center-block">
                                        <input type="file" id="file" name="avatar" (change)="onChangedImage($event)" #fileInput accept=".jpg, .jpeg, .png, .gif" style="margin-left: 5px;">
                                        <span class="file-custom" (click)="fileInput.click()"></span>
                                      </label>
                                      <button type="submit" class="btn btn-primary">
                                        <i class="far fa-check-square" style="margin-right: 5px;" (click)="fileInput.click()"></i>Lưu
                                      </button>
                                    </div>
                                  </div>
                                </form>
                                <div class="media-left pl-2 pt-2">
                                    <a class="profile-image"> <img class="rounded-circle img-border height-100" [src]="selectedImg" alt="Card image">
                                    </a>
                                  </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal đổi ảnh -->
        <div class="modal fade" id="changeImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top: 100px;">
            <form id="imageRoom" action="" method="post"
                enctype="multipart/form-data">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thêm ảnh phòng</h4>
                        </div>
                        <div class="modal-body">
                            <p>Chọn ảnh</p>
                            <input type="file" name="uploadFile" accept="image/*" onchange="loadFile(event)" />
                            <br/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Thêm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Modal xóa ảnh -->
        <div class="modal fade" id="deleteImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: -20px;">
            <form id="imageR" action="deleteImageRoom?idRoom=${roomInfo.roomid}&hotelID=${hotelid}&hotelName=${hotelName}" method="post"
                onsubmit="return checkCheckBoxes(this)">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Chọn ảnh cần xóa</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <tbody>
                                    <!-- <c:forEach items="${listImages}" var="listImages">
                            <tr>
                              <td>
                                     <div class="checkbox icheck-primary">
                                     <input type="checkbox" name="imgDel[]" value="${listImages.imageid}"/>
                                     </div>
                                   </td>
                                <td>
                                  <img style="height:180px; width:300px;" src="${listImages.image}" />
                                </td>
                            </tr> 
                          </c:forEach> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" onclick="return getConfirmation2();">Xóa</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <app-footer></app-footer>
    </div>
</div>