<div class="wrapper">
    <app-admin-menu></app-admin-menu>


    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Trang chủ </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li (click)="onLogout()" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                <p>&nbsp;Đăng Xuất &nbsp;</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../assets/admin/assets/img/faces/face-0.jpg" class="img_avatar img-responsive" alt="Cinque Terre" />
                                <p>&nbsp;TRIEU &nbsp;</p>
                            </a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>


        <div class="content">
            <app-modal-account-info></app-modal-account-info>
        </div>
        <app-footer></app-footer>
    </div>
</div>